@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The MVC 6 frame work has been something I have implemented in parcels. I have nothing on my resume that is MVC 6 from the start but all converted to MVC 6 from Web Forms.
    This project will be just that: MVC 6 from the ground up. More updates to come.</p>
