@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WHISPER!</h1>
    <p class="lead">You're being too loud and everyone is mad at you.</p>
    <p><a href="http://www.afpls.org/" class="btn btn-primary btn-lg">Learn somthin wontcha &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>General Information</h2>
        <p>
            Nonesense is content when you are just trying to learn MVC. Will you press the button?
        </p>

        <div class="panel panel-warning">
            <div class="panel-heading">Warning!</div>
            <div class="panel-body">
                be careful...
            </div>
        </div>

        <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">pop up</button></p>
                
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thanks</h4>
                    </div>
                    <div class="modal-body">
                        <p>for</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Playing</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="col-md-4">
        <h2>General Information</h2>
        <p>
            Nonesense is content when you are just trying to learn MVC. Will you press the button?
        </p>

        <div class="panel panel-warning">
            <div class="panel-heading">Warning!</div>
            <div class="panel-body">
                be careful...
            </div>
        </div>

        <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">pop up</button></p>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thanks</h4>
                    </div>
                    <div class="modal-body">
                        <p>for</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Playing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>General Information</h2>
        <p>
            Nonesense is content when you are just trying to learn MVC. Will you press the button?
        </p>

        <div class="panel panel-warning">
            <div class="panel-heading">Warning!</div>
            <div class="panel-body">
                be careful...
            </div>
        </div>

        <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">pop up</button></p>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thanks</h4>
                    </div>
                    <div class="modal-body">
                        <p>for</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Playing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>